/* Reset */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: inherit;
    /* display: block; */
}
li{
    list-style: none;}

h1, h2, h3, h4, h5{
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

img{
    display: block;
    max-width: 100%;
    width: 100%;
    align-items: center;
    
}
form, button, input{
    font-family: inherit;
    font-size: inherit;
    // display: flex;
    color: inherit;
}
body{
    width: 100%;
   
    min-height: 100vh;
}

.clearfix{
    clear: both;
    float: none;
}
/* Reset */